langchain==0.1.0 
langchain_community==0.0.16 
huggingface_hub==0.20.3 
graphviz==0.20.1 
python-dotenv==1.0.0
pymysql 
mysql-connector-python
flask==2.3.2
requests==2.31.0
mysql-connector-python==8.1.0
python-dotenv==1.0.0
langchain-core  
psycopg2